body {
  margin: 0;
}

main {
  display: flex;
  position:  relative;
  height: 100dvh;
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.hand {
  display: flex;
  gap: 0.7rem;
  position: absolute;
  justify-content: center;
  width: 100%;
  bottom: 2rem;
  z-index: 1;
}
.card {
  background-color: black;
  color: white;
  border-radius: 6px;
  height: 7rem;
  width: 5rem;
  transform-origin: bottom;
  position: relative;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
}
.card * {
  margin: 0;
}
.card-image {
  height: 100%;
}
.card > .d-flex {
  justify-content: space-between;
  padding: 0.2rem 0.3rem;
}
.card > .d-flex > .d-flex {
  align-items: center;
  gap: 0.2rem;
  justify-content: space-around;
}
.card > .d-flex > .d-flex > svg {
  font-size: x-small;
}

.card.selected {
  top: -1.5rem;
  box-shadow: 0 0 10px white;
}
.card:hover {
  scale: 1.05;
  transition: scale 300ms;
  transform-origin: bottom;
}

.card.vanish {
  margin: auto 0;
  pointer-events: none;
  animation: vanish 1s 0.1s forwards;
  transform-origin: center;
}

@keyframes vanish {
  30% {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 0 0 5px blue;
    scale: 0.2;
    width: 5rem;
  }
  100% {
    width: 0rem;
    top: -10rem;
    scale: 0;
    rotate: 500deg;
  }
}
.card.enemy.vanish {
  margin: auto 0;
  animation: vanish-enemy 1s 0.1s forwards;
  transform-origin: center;
}

@keyframes vanish-enemy {
  30% {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 0 0 5px blue;
    scale: 0.2;
    width: 4.5rem;
  }
  100% {
    width: 0rem;
    top: 8rem;
    scale: 0;
    rotate: 500deg;
  }
}


.card-in-table {
  height: 5rem;
  padding: 0.7rem .8rem;
}
.card-in-table:hover{
  scale: 1;
}
.card-in-table.enemy {
  background-color: darkgray;
}

.spawn-vanish {
  animation: spawn-vanish 1s .5s forwards;
  transform-origin: center;
  scale: 0;
}

@keyframes spawn-vanish {
  80% {
    scale: 1.1;
    border-radius: 6px;
    background-color: black;
    color: white;
    box-shadow: 0 0 2px blue;
  }
  100% {
    scale: 1;
    box-shadow: 0 0 0px blue;
  }
}
.destroy-vanish {
  animation: destroy-vanish 2s 1.5s forwards;
  transform-origin: center;
  scale: 1;
}

@keyframes destroy-vanish {
  30% {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 0 0 5px blue;
    scale: 0.2;
  }
  100% {
    scale: 0;
  }
}

.spawn-destroy-vanish {
  animation: spawn-destroy-vanish 2s .5s forwards;
  transform-origin: center;
  scale: 0;
}

@keyframes spawn-destroy-vanish {
  40% {
    scale: 1.1;
    border-radius: 6px;
    background-color: black;
    color: white;
    box-shadow: 0 0 2px blue;
  }
  50% {
    scale: 1;
    box-shadow: 0 0 0px blue;
  }
  80% {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 0 0 5px blue;
    scale: 0.2;
  }
  100% {
    scale: 0;
  }
}

.wait-vanish {
  animation: none!important;
  scale: 1;
}

/***/

.enemy-table, .player-table {
  display: flex;
  gap: 0.5rem;
  min-height: 5rem;
}

.hand.enemy {
  display: flex;
  gap: 0.3rem;
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 2rem;
  bottom: auto;
}
.card:not(.card-in-table).enemy {
  background-color: darkgray;
  color: white;
  border-radius: 6px;
  height: 6rem;
  width: 4rem;
  position: relative;
}
.card.enemy:hover {
  scale: 1;
}

/***/

.fixed-b {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.fixed-b-2 {
  position: fixed;
  top: 1rem;
  left: 5rem;
}
.deck {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: rgb(19, 7, 90);
  color: white;
  padding: 1rem;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.table::before {
  content: "";
  opacity: 0.3;
  background-color: #ff854d;
  border-radius: 50%;
  width: 100%;
  height: 7rem;
  box-shadow: 0 0px 1rem #ff854d;
  position: absolute;
}
.table::after {
  content: "";
  opacity: 0.3;
  background-color: #ff854d;
  border-radius: 50%;
  width: 100%;
  height: 7rem;
  box-shadow: 0 0px 1rem #ff854d;
  position: absolute;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

main[data-turn="0"] .table::after, main[data-turn="1"] .table::before {
  bottom: -2.5rem;
}
/* main[data-turn="1"] .hand.player {
  gap: 0.2rem;
  bottom: -0.5rem;
} */
main[data-turn="1"] .table::after, main[data-turn="0"] .table::before {
  top: 2.5rem;
  scale: 0.6;
}

.use {
  opacity: 0.7;
}