body {
  margin: 0;
  background-color: rgb(17, 0, 27);
}

main {
  display: flex;
  position:  relative;
  height: 100dvh;
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.hand {
  display: grid;
  position: absolute;
  width: 90%;
  left: 5%;
  justify-items: center;
  max-width: 90%;
  bottom: 1rem;
  z-index: 1;
}
.card {
  background-color: #2b2525;
  color: white;
  border-radius: 6px;
  height: 7rem;
  min-width: 5rem;
  max-width: 5rem;
  transform-origin: bottom;
  position: relative;
  display: flex;
  padding: 0.2rem;
  flex-direction: column;
  transition: top 300ms;
  margin: 0 0.25dvw;
  box-shadow: 0 0 10px black;
}
.card * {
  opacity: 1;
  transition: opacity 125ms;
  margin: 0;
}
.card-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-image > svg {
  font-size: 2.5rem;
}
.card > .d-flex {
  justify-content: space-between;
  padding: 0.2rem 0.3rem;
}
.card > .d-flex > .d-flex {
  align-items: center;
  gap: 0.2rem;
  justify-content: space-around;
}
.card > .d-flex > .d-flex > svg {
  font-size: x-small;
}

.card.selected {
  top: -2rem!important;
  box-shadow: 0 0 10px white;
  z-index: 1;
}

.card:not(.enemy):hover {
  top: 0;
  transition: top 300ms;
  transform-origin: bottom;
}

.card.vanish {
  margin: auto 0;
  pointer-events: none;
  animation: vanish 1s 0.1s forwards;
  transform-origin: center;
}

@keyframes vanish {
  30% {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 0 0 5px blue;
    scale: 0.2;
    width: 5rem;
    margin: 0;
  }
  100% {
    margin: 0;
    width: 0rem;
    top: -10rem;
    scale: 0;
    rotate: 500deg;
  }
}
.card.enemy.vanish {
  margin: auto 0;
  animation: vanish-enemy 1s 0.1s forwards;
  transform-origin: center;
}

@keyframes vanish-enemy {
  30% {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 0 0 5px blue;
    scale: 0.2;
    width: 4.5rem;
  }
  100% {
    width: 0rem;
    top: 8rem;
    scale: 0;
    rotate: 500deg;
  }
}


.card-in-table {
  overflow: hidden;
}
.card-in-table:hover{
  scale: 1;
}
.spawn-vanish {
  animation: spawn-vanish 1s .5s forwards;
  transform-origin: center;
  scale: 0;
}

@keyframes spawn-vanish {
  80% {
    scale: 1.1;
    border-radius: 6px;
    background-color: black;
    color: white;
    box-shadow: 0 0 2px blue;
  }
  100% {
    scale: 1;
    box-shadow: 0 0 0px blue;
  }
}
.destroy-vanish {
  animation: destroy-vanish 2s forwards!important;
  transform-origin: center;
  scale: 1;
}

@keyframes destroy-vanish {
  30% {
    border-radius: 100%;
    background-color: blue;
    box-shadow: 0 0 5px blue;
    scale: 0.1;
    rotate: 500deg;
  }
  100% {
    scale: 0;
  }
}

.wait-vanish {
  animation: none;
  scale: 1;
}

/***/

.enemy-table, .player-table {
  display: flex;
  gap: 0.5rem;
  min-height: 5rem;
}

.hand.enemy {
  display: flex;
  gap: 0.5dvw;
  position: absolute;
  justify-content: center;
  width: 100%;
  top: 1.5rem;
  bottom: auto;
}
.card:not(.card-in-table).enemy {
  /* background: url('../assets/card-back.png');
  background-size:cover; */
  
  background-color: #2b2525;
  border-radius: 6px;
  min-width: 3.5rem;
  max-width: 3.5rem;
  height: 4.9rem;
  position: relative;
  padding: 0;
}

/***/

.fixed-b {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.fixed-b-2, .deck {
  position: fixed;
  top: 45vh;
  right: 10vw;
  background-color: rgb(7, 84, 90);
  color: white;
  padding: 2rem;
  border: none;
  border-radius: 5px;
  width: 30vw;
}
.fixed-b-2::before {
  position: absolute;
  content: "";
  background-color: rgb(58, 126, 143);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  animation: fightAnimation 1.5s infinite;
}
.fixed-b-2::after {
  content: "Fight";
  font-size: 1.1rem;
  position: relative;
  z-index: 1;
}
@keyframes fightAnimation {
  from {
    scale: 0.7;
    opacity: 1;
  }
  to{
    opacity: 0;
    scale: 1.25;
  }
}
.deck {
  left: 0;
  right: auto;
  background-color: rgb(19, 7, 90);
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.table::before {
  content: "";
  opacity: 0.3;
  background-color: #ff854d;
  border-radius: 50%;
  width: 100%;
  filter: blur(10px);
  height: 7rem;
  position: absolute;
}
.table::after {
  content: "";
  opacity: 0.3;
  background-color: #ff854d;
  border-radius: 50%;
  width: 100%;
  height: 7rem;
  filter: blur(10px);
  position: absolute;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

main[data-turn="0"] .table::after, main[data-turn="1"] .table::before {
  bottom: -2.5rem;
}
main[data-turn="1"] .hand.player {
  filter: brightness(0.4);
}
main[data-turn="1"] .table::after, main[data-turn="0"] .table::before {
  top: 2.5rem;
  scale: 0.6;
}

.flip {
  animation: flip 250ms;
  scale: 1;
}

@keyframes flip {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
}

.hide * {
  opacity: 0;
  transition: opacity 125ms;
}
.hide::after {
  opacity: 1;
  content: "";
  /* background: url('../assets/card-back.png');
  background-size:cover; */
  background-color: #2b2525;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.use {
  animation: use 500ms forwards;
  z-index: 2;
}
.use.enemy {
  animation: use2 500ms forwards;
  z-index: 2;
}
@keyframes use {
  40%{
    top: -2rem;
  }
  55% {
    scale: 1.1;
    border: 2px solid rgb(201, 255, 255);
    box-shadow: inset 5px white;
  }
  100% {
    scale: 1;
    top: 0rem;
  } 
}
@keyframes use2 {
  40%{
    bottom: -2rem;
  }
  55% {
    scale: 1.1;
    border: 2px solid rgb(201, 255, 255);
    box-shadow: inset 5px white;
  }
  100% {
    scale: 1;
    bottom: 0rem;
  } 
}

@keyframes getHit {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
}

.get-hit::after, .defeated::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: red;
  animation: getHit 300ms;
  opacity: 0;
  pointer-events: none;
}
.get-hit-enemy::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(21, 255, 0);
  animation: getHit 300ms;
  opacity: 0;
  pointer-events: none;
}
.defeated {
  filter: brightness(0.2);
}

.card.card-in-table:not([data-damage=""])::before {
  content: attr(data-damage);
  position: absolute;
  z-index: 1;
  color: red;
  filter: drop-shadow(0px 0px 2px black);
  font-size: 4rem;
  inset: 0;
  text-align: center;
  top: 15%;
  font-weight: 900;
  opacity: 0;
  animation: damage-number 1s;
}
.defense-stat::before {
  content: attr(data-defense);
  color: white;
}
@keyframes damage-number {
  0% {
    opacity: 0;
    top: 50%;
  } 
  50% {
    top: 15%;
    opacity: 1;
  }
  70% {
    top: 12%;
    opacity: 1;
  }
  100% {
    top: 0%;
    opacity: 0;
  }
}


/***/

.player-life, .enemy-life {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  height: 0.5rem;
  padding: 0.2rem;
  background-color: rgb(51, 51, 51);
  z-index: 3;
  border-radius: 5px;
}

.enemy-life {
  bottom: auto;
  top: 0;
}

.bar {
  border-radius: 3px;
  height: 100%;
  transition: width 300ms;
  background-color: rgb(51, 180, 51);
}

.player-life > .bar {
  background-color: rgb(233, 52, 52);
}