body {
  margin: 0;
}

main {
  display: flex;
  position:  relative;
  height: 100dvh;
  overflow: hidden;
}

.hand {
  display: flex;
  gap: 0.7rem;
  position: absolute;
  justify-content: center;
  width: 100%;
  bottom: 2rem;
}
.card {
  background-color: black;
  color: white;
  border-radius: 6px;
  height: 7rem;
  padding: 1rem 2rem;
  transform-origin: bottom;
  position: relative;
}
.card:hover {
  scale: 1.2;
  transform-origin: bottom;
}


.card-in-table {
  scale: 0.8;
}
.card-in-table.enemy {
  background-color: gray;
}

/***/

.enemy-table, .player-table {
  display: flex;
  gap: 0.5rem;
}

/***/

.fixed-b {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.fixed-b-2 {
  position: fixed;
  top: 1rem;
  left: 5rem;
}